# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages in data science are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy
4. Pandas
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Describe common data science tools and their uses
- Explain the basics of data manipulation and analysis
- Illustrate examples of evaluating arithmetic expressions in Python
- Summarize key takeaways from the course

## Author
Suraj Majumdar